<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!--
        加载 配置 文件源
    -->
    <context:property-placeholder location="classpath:properties/jdbc.properties" />

    <!--数据源-->
    <!--druid-->
    <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close" >

        <!--set 注入 -->
        <property name="url" value="jdbc:mysql://localhost:3306/test?serverTimezone=GMT%2B8" />
        <!--使用 属性配置中的 细心-->
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="maxActive" value="20" />
    </bean>

    <!--sqlSessionFactoryBean-->
    <!--创建 Bean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" >
        <!--引用上面 的 链接池-->
        <property name="dataSource" ref="dataSource" />
        <!--mybatis 主配置文件-->
        <!--classpath 表示 文件的位置-->
        <property name="configLocation" value="classpath:config/mybatis-config.xml" />

    </bean>

    <!--mapper 接口 扫描-->
    <!--使用 sqlSession的 getMapper-->
    <!--MapperScannerConfigurer内部 调用GetMapper 生成Dao 的 代理对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" >
        <!--factory bean-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />

        <!--扫描 Mapper 包-->
        <!-- 多个包 用 逗号区分-->
        <property name="basePackage" value="pres.qianmuna.spring.mapper" />

    </bean>

    <!--将结果集 映射 到 service-->
    <!--service -->
    <bean id="infoService" class="pres.qianmuna.spring.service.impl.InfoServiceImpl" >

        <!--
            spring 和 mybatis 一块用 事务 自动 提交  不用 commit 跟 使用的 机制 有关系
        -->
        <property name="infoMapper" ref="infoMapper" />
    </bean>

</beans>