<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--控制 mybatis 全局-->
    <settings>
        <!--mybatis 输出 日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--mapper 路径-->
    <mappers>
        <mapper resource="mapper/InfoMapper.xml" />
    </mappers>
</configuration>