<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="lib/element/element-style.css">

</head>
<body>
    <div id="app">
        <h1>hello world</h1>
    </div>

</body>

<script src="js/jquery-3.3.1.min.js" ></script>
<script src="lib/axios/axios.min.js" ></script>
<script src="lib/vue/vue.min.js" ></script>
<script src="lib/element/element.js" ></script>


<script>
    new Vue({
        el: '#app',
        data: {
            return(){
                info: []
            }
        },
        mounted(){
            axios.get('queryall').then( res => {
                console.log(res.data);
                this.info = res.data;
            }).catch( e => {
                console.log(e)
            });
        },

    })

</script>
</html>