<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/lib/element/element-style.css">

</head>
<body>
    <div id="app">
        <h1>demo</h1>

    </div>


</body>

<script src="../static/js/jquery-3.3.1.min.js" ></script>
<script src="../static/lib/axios/axios.min.js" ></script>
<script src="../static/lib/vue/vue.min.js" ></script>
<script src="../static/lib/element/element.js" ></script>


<script>


</script>
</html>