<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"   xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body>

<h4 >当前登录人 <span th:text="${userName}"></span></h4>
<a th:href="@{/user/logout}"  class="btn btn-outline-danger">退出</a>

<a th:href="@{/shiro/emp/a/add}"  class="btn btn-outline-info">添加</a>

<!--<form th:action="@{/shiro/emp/query}" method="post">-->
<!--    <input type="text" >-->
<!--</form>-->

<table border="1" cellpadding="1" cellspacing="1">

    <tr>
        <td><input type="checkbox" onclick="selectAll()"></td>
        <td>请假编号</td>
        <td>请假人</td>
        <td>请假标题</td>
        <td>请假起始时间</td>
        <td>请假结束时间</td>
        <td>原因</td>
        <td>部门</td>
        <td>审批人</td>
        <td>请假时间</td>
        <td>审批时间</td>
        <td>请假状态</td>
        <td>是否同意</td>
        <td>操作</td>
    </tr>
    <tr th:each="l1 : ${list}">
        <td ><input type="checkbox" name="c1" th:disabled="${l1.getStatus() == 1}"></td>
        <td th:text="${l1.getEId()}"></td>
        <td th:text="${l1.getEName()}"></td>
        <td th:text="${l1.getTitle()}"></td>
        <td th:text="${#dates.format(l1.getStartTime() , 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${#dates.format(l1.getEndTime() , 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${l1.getContext()}"></td>
        <td th:text="${l1.getDept()}"></td>
        <td th:text="${l1.getP1()}"></td>
        <td th:text="${#dates.format(l1.getCreateTime() , 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${#dates.format(l1.getUpdateTime() , 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${l1.getStatus() == 0 ? '审批中' : '已归档'}"></td>
        <td th:text="${l1.getSuc() == 0 ? '不同意' : '同意'}"></td>

        <td >
            <a shiro:hasRole="admin" th:href="@{/shiro/emp/a/update/{id}(id=${l1.getEId()} )}" th:if="${l1.suc == 0}" class="btn btn-outline-danger">修改</a>
            <a shiro:hasRole="user" th:href="@{/shiro/emp/update/{id}(id=${l1.getEId()} )}" th:if="${l1.suc == 0}" class="btn btn-outline-warning">审批</a>
            <a th:href="@{/shiro/emp/a/update/{id}(id=${l1.getEId()} ) }" th:if="${l1.suc == 1}"  class="btn btn-outline-info">查看</a>
            <a th:href="@{/shiro/emp/delete/{id}(id=${l1.getEId()} ) }" onclick="removeById()" th:if="${l1.status == 1}" class="btn btn-outline-danger">删除</a>
        </td>

    </tr>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>

<!--<ul>
    <div  shiro:hasRole="user">
        <li>
            <a href="#">用户管理</a>
            <ul>
                <div shiro:hasPermission="user:add:*">
                    <li><a href="#">增加</a></li>
                </div>
                <div shiro:hasPermission="user:delete:*">
                    <li><a href="#">删除</a></li>
                </div>
                <div shiro:hasPermission="user:update:*">
                    <li><a href="#">修改</a></li>
                </div>
                <div shiro:hasPermission="order:find:*">
                    <li><a href="#">查询</a></li>
                </div>
            </ul>
        </li>
    </div>

    <div  shiro:hasRole="admin">
        <li><a href="#">商品管理</a></li>
        <li><a href="#">订单管理</a></li>
        <li><a href="#">物流管理</a></li>
    </div>
</ul>-->
</body>

<script>

    function removeById() {
        return confirm("确认删除？");
    }

    function selectAll(){
        let byName = document.getElementsByName("c1");
        console.log("aaa");
        for (let i = 0; i < byName.length; i++) {
            byName[i].checked = true;
        }
    }
</script>
</html>
