<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pres.qm.shiro.mapper.UserMapper">

    <select id="findByUsername" parameterType="String" resultType="User" >
        select id,username,password,salt from user where username=#{username}
    </select>

    <resultMap id="userMap" type="User" >
        <id property="id" column="uid"/>
        <result column="username" property="username"/>
        <!--角色信息-->
        <collection property="roles" javaType="list" ofType="Role">
             <id property="id" column="id"/>
            <result column="rname" property="name"/>
        </collection>
    </resultMap>

    <select id="findRolesByUserName" parameterType="String" resultMap="userMap">
        select u.id uid,u.username,r.id,r.name rname
        from user u
        left join user_role ur on u.id=ur.userId
        left join role r on ur.roleid=r.id
        where u.username=#{username}
    </select>

    <select id="findPermsByRoleId" parameterType="Integer" resultType="Perms">
          select p.id,p.name,p.url,r.name
 from role r
 left join role_perms rp on r.id=rp.roleId
 left join perms p on rp.permsid=p.id
 where r.id=#{id}
    </select>
</mapper>
